@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
		.text-shadow {
			text-shadow: 0.5px 0.5px 1px black;
		}
    .text-shadow-sm {
      text-shadow: 2px 2px 4px black;
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
    .text-shadow-grey-light {
      text-shadow: 0.5px 0.5px 1px grey;
    }
    .text-shadow-grey {
			text-shadow: 0.5px 0.5px 1px grey;
		}
    .text-shadow-sm-grey {
      text-shadow: 2px 2px 4px grey;
    }
    .text-shadow-md-grey {
      text-shadow: 4px 4px 8px grey;
    }
    .text-shadow-lg-grey {
      text-shadow: 15px 15px 30px grey;
    }
    .text-shadow-white {
			text-shadow: 1px 1px 2px white;
		}
    .text-shadow-sm-white {
      text-shadow: 2px 2px 4px white;
    }
    .text-shadow-md-white {
      text-shadow: 4px 4px 8px white;
    }
    .text-shadow-lg-white {
      text-shadow: 15px 15px 30px white;
    }
  }
}

html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
